<!DOCTYPE html>
<html>

<head>
    <title>表单提交</title>
</head>

<body>
    <form action="/form_validate" method="post">
        ID: <input type="text" name="id" value="9527"><br>
        name: <input type="text" name="name" value="Alice"><br>
        age: <input type="text" name="age" value="18"><br>
        email: <input type="email" name="email" value="Alice@mail.com"><br>
        <!-- website: <input type="text" name="website" value="www.website.com/alice"><br> -->
        bio: <input type="text" name="bio" value="I'm Alice."><br>
        ip: <input type="text" name="ip" value="192.168.24.57"><br>
        <input type="submit" value="提交">
    </form>
</body>

</html>