<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>all articles</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>作者</th>
            </tr>
        </thead>
        <tbody>
            {{range .articles}}
            <tr>
                <td>{{.ID}}</td>
                <td><a href="/article/{{.ID}}">{{.Title}}</a></td>
                <td>{{.Author}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>

</html>